In [1]:
pwd

'c:\\Users\\Webstar Ochieng\\Documents\\CSV_docs'

In [2]:
#import the necessary modules
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
#opening the CSV doc
'CSV_docs/'

'CSV_docs/'

In [4]:
#create your dataframe
df = pd.read_csv("Nutrition__Physical_Activity__and_Obesity.csv")

In [5]:
#describe the data
df.head

<bound method NDFrame.head of        YearStart  YearEnd LocationAbbr  LocationDesc  \
0           2020     2020           US      National
1           2014     2014           GU          Guam
2           2013     2013           US      National
3           2013     2013           US      National
4           2015     2015           US      National
...          ...      ...          ...           ...
88624       2021     2021           ND  North Dakota
88625       2021     2021           PR   Puerto Rico
88626       2021     2021           WI     Wisconsin
88627       2021     2021           UT          Utah
88628       2021     2021           US      National

                                       Datasource                    Class  \
0      Behavioral Risk Factor Surveillance System        Physical Activity
1      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
4      Behavioral Risk Factor Surveillance System        Physical Activity
...                                           ...                      ...
88624  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88625  Behavioral Risk Factor Surveillance System        Physical Activity
88626  Behavioral Risk Factor Surveillance System        Physical Activity
88627  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88628  Behavioral Risk Factor Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3               Obesity / Weight Status
4          Physical Activity - Behavior
...                                 ...
88624  Fruits and Vegetables - Behavior
88625      Physical Activity - Behavior
88626      Physical Activity - Behavior
88627  Fruits and Vegetables - Behavior
88628      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of adults who engage in no leisure-tim...              NaN
1      Percent of adults aged 18 years and older who ...              NaN
2      Percent of adults aged 18 years and older who ...              NaN
3      Percent of adults aged 18 years and older who ...              NaN
4      Percent of adults who achieve at least 300 min...              NaN
...                                                  ...              ...
88624  Percent of adults who report consuming vegetab...              NaN
88625  Percent of adults who engage in no leisure-tim...              NaN
88626  Percent of adults who engage in no leisure-tim...              NaN
88627  Percent of adults who report consuming fruit l...              NaN
88628  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                                GeoLocation  \
0               Value  ...                                        NaN
1               Value  ...                    (13.444304, 144.793731)
2               Value  ...                                        NaN
3               Value  ...                                        NaN
4               Value  ...                                        NaN
...               ...  ...                                        ...
88624           Value  ...   (47.47531977900047, -100.11842104899966)
88625           Value  ...                    (18.220833, -66.590149)
88626           Value  ...    (44.39319117400049, -89.81637074199966)
88627           Value  ...  (39.360700171000474, -111.58713063499971)
88628           Value  ...                                        NaN

       ClassID TopicID QuestionID  DataValueTypeID  LocationID  \
0           PA     PA1       Q047            VALUE          59
1          OWS    OWS1       Q036            VALUE          66
2          OWS    OWS1       Q036            VALUE          59
3          OWS    OWS1       Q037            VALUE          59
4           PA     PA1       Q045            VALUE          59
...        ...     ...        ...              ...         ...
88624       FV     FV1       Q019            VALUE          38
88625       PA     PA1       Q047            VALUE          72
88626       PA     PA1       Q047            VALUE          55
88627       FV     FV1       Q018            VALUE          49
88628       PA     PA1       Q047            VALUE          59

       StratificationCategory1       Stratification1  \
0               Race/Ethnicity              Hispanic
1                    Education  High school graduate
2                       Income     $50,000 - $74,999
3                       Income     Data not reported
4                       Income     Less than $15,000
...                        ...                   ...
88624                   Gender                  Male
88625                   Income     $35,000 - $49,999
88626                   Income    $75,000 or greater
88627                   Income     $50,000 - $74,999
88628                   Income     Data not reported

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEHIS
1                           EDU         EDUHSGRAD
2                           INC           INC5075
3                           INC             INCNR
4                           INC         INCLESS15
...                         ...               ...
88624                       GEN              MALE
88625                       INC           INC3550
88626                       INC         INC75PLUS
88627                       INC           INC5075
88628                       INC             INCNR

[88629 rows x 33 columns]>

In [6]:
#Get datatype for dataset
df.dtypes

YearStart                       int64
YearEnd                         int64
LocationAbbr                   object
LocationDesc                   object
Datasource                     object
Class                          object
Topic                          object
Question                       object
Data_Value_Unit               float64
Data_Value_Type                object
Data_Value                    float64
Data_Value_Alt                float64
Data_Value_Footnote_Symbol     object
Data_Value_Footnote            object
Low_Confidence_Limit          float64
High_Confidence_Limit         float64
Sample_Size                   float64
Total                          object
Age(years)                     object
Education                      object
Gender                         object
Income                         object
Race/Ethnicity                 object
GeoLocation                    object
ClassID                        object
TopicID                        object
QuestionID                     object
DataValueTypeID                object
LocationID                      int64
StratificationCategory1        object
Stratification1                object
StratificationCategoryId1      object
StratificationID1              object
dtype: object

In [7]:
#find and remove all null values
df.isnull().sum()
df1 = df.dropna()

In [8]:
print(df1)

Empty DataFrame
Columns: [YearStart, YearEnd, LocationAbbr, LocationDesc, Datasource, Class, Topic, Question, Data_Value_Unit, Data_Value_Type, Data_Value, Data_Value_Alt, Data_Value_Footnote_Symbol, Data_Value_Footnote, Low_Confidence_Limit, High_Confidence_Limit , Sample_Size, Total, Age(years), Education, Gender, Income, Race/Ethnicity, GeoLocation, ClassID, TopicID, QuestionID, DataValueTypeID, LocationID, StratificationCategory1, Stratification1, StratificationCategoryId1, StratificationID1]
Index: []

[0 rows x 33 columns]

In [9]:
df1.isnull().sum()

YearStart                     0.0
YearEnd                       0.0
LocationAbbr                  0.0
LocationDesc                  0.0
Datasource                    0.0
Class                         0.0
Topic                         0.0
Question                      0.0
Data_Value_Unit               0.0
Data_Value_Type               0.0
Data_Value                    0.0
Data_Value_Alt                0.0
Data_Value_Footnote_Symbol    0.0
Data_Value_Footnote           0.0
Low_Confidence_Limit          0.0
High_Confidence_Limit         0.0
Sample_Size                   0.0
Total                         0.0
Age(years)                    0.0
Education                     0.0
Gender                        0.0
Income                        0.0
Race/Ethnicity                0.0
GeoLocation                   0.0
ClassID                       0.0
TopicID                       0.0
QuestionID                    0.0
DataValueTypeID               0.0
LocationID                    0.0
StratificationCategory1       0.0
Stratification1               0.0
StratificationCategoryId1     0.0
StratificationID1             0.0
dtype: float64

In [10]:
df.head

<bound method NDFrame.head of        YearStart  YearEnd LocationAbbr  LocationDesc  \
0           2020     2020           US      National
1           2014     2014           GU          Guam
2           2013     2013           US      National
3           2013     2013           US      National
4           2015     2015           US      National
...          ...      ...          ...           ...
88624       2021     2021           ND  North Dakota
88625       2021     2021           PR   Puerto Rico
88626       2021     2021           WI     Wisconsin
88627       2021     2021           UT          Utah
88628       2021     2021           US      National

                                       Datasource                    Class  \
0      Behavioral Risk Factor Surveillance System        Physical Activity
1      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
4      Behavioral Risk Factor Surveillance System        Physical Activity
...                                           ...                      ...
88624  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88625  Behavioral Risk Factor Surveillance System        Physical Activity
88626  Behavioral Risk Factor Surveillance System        Physical Activity
88627  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88628  Behavioral Risk Factor Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3               Obesity / Weight Status
4          Physical Activity - Behavior
...                                 ...
88624  Fruits and Vegetables - Behavior
88625      Physical Activity - Behavior
88626      Physical Activity - Behavior
88627  Fruits and Vegetables - Behavior
88628      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of adults who engage in no leisure-tim...              NaN
1      Percent of adults aged 18 years and older who ...              NaN
2      Percent of adults aged 18 years and older who ...              NaN
3      Percent of adults aged 18 years and older who ...              NaN
4      Percent of adults who achieve at least 300 min...              NaN
...                                                  ...              ...
88624  Percent of adults who report consuming vegetab...              NaN
88625  Percent of adults who engage in no leisure-tim...              NaN
88626  Percent of adults who engage in no leisure-tim...              NaN
88627  Percent of adults who report consuming fruit l...              NaN
88628  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                                GeoLocation  \
0               Value  ...                                        NaN
1               Value  ...                    (13.444304, 144.793731)
2               Value  ...                                        NaN
3               Value  ...                                        NaN
4               Value  ...                                        NaN
...               ...  ...                                        ...
88624           Value  ...   (47.47531977900047, -100.11842104899966)
88625           Value  ...                    (18.220833, -66.590149)
88626           Value  ...    (44.39319117400049, -89.81637074199966)
88627           Value  ...  (39.360700171000474, -111.58713063499971)
88628           Value  ...                                        NaN

       ClassID TopicID QuestionID  DataValueTypeID  LocationID  \
0           PA     PA1       Q047            VALUE          59
1          OWS    OWS1       Q036            VALUE          66
2          OWS    OWS1       Q036            VALUE          59
3          OWS    OWS1       Q037            VALUE          59
4           PA     PA1       Q045            VALUE          59
...        ...     ...        ...              ...         ...
88624       FV     FV1       Q019            VALUE          38
88625       PA     PA1       Q047            VALUE          72
88626       PA     PA1       Q047            VALUE          55
88627       FV     FV1       Q018            VALUE          49
88628       PA     PA1       Q047            VALUE          59

       StratificationCategory1       Stratification1  \
0               Race/Ethnicity              Hispanic
1                    Education  High school graduate
2                       Income     $50,000 - $74,999
3                       Income     Data not reported
4                       Income     Less than $15,000
...                        ...                   ...
88624                   Gender                  Male
88625                   Income     $35,000 - $49,999
88626                   Income    $75,000 or greater
88627                   Income     $50,000 - $74,999
88628                   Income     Data not reported

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEHIS
1                           EDU         EDUHSGRAD
2                           INC           INC5075
3                           INC             INCNR
4                           INC         INCLESS15
...                         ...               ...
88624                       GEN              MALE
88625                       INC           INC3550
88626                       INC         INC75PLUS
88627                       INC           INC5075
88628                       INC             INCNR

[88629 rows x 33 columns]>

In [11]:
Location_Summary = df.groupby('LocationDesc')['Data_Value'].mean()
print(Location_Summary)

LocationDesc
Alabama                 31.610587
Alaska                  32.293127
Arizona                 31.491741
Arkansas                32.072568
California              31.159898
Colorado                30.680723
Connecticut             30.708458
Delaware                31.615116
District of Columbia    29.040998
Florida                 31.528442
Georgia                 31.392857
Guam                    32.553905
Hawaii                  31.251373
Idaho                   31.208714
Illinois                31.276210
Indiana                 31.115550
Iowa                    30.931746
Kansas                  31.071144
Kentucky                31.749117
Louisiana               32.346375
Maine                   30.784123
Maryland                30.893190
Massachusetts           30.050295
Michigan                31.568015
Minnesota               30.968674
Mississippi             31.925467
Missouri                30.988539
Montana                 31.794320
National                31.263862
Nebraska                31.258744
Nevada                  31.547984
New Hampshire           30.813930
New Jersey              30.949127
New Mexico              32.272709
New York                30.515285
North Carolina          30.622164
North Dakota            31.047866
Ohio                    31.706611
Oklahoma                31.369399
Oregon                  31.109730
Pennsylvania            30.826116
Puerto Rico             33.047727
Rhode Island            30.543659
South Carolina          31.567380
South Dakota            30.912421
Tennessee               31.016771
Texas                   31.177191
Utah                    29.986527
Vermont                 30.658920
Virgin Islands          31.366304
Virginia                31.185798
Washington              30.783209
West Virginia           31.885683
Wisconsin               32.005682
Wyoming                 31.920929
Name: Data_Value, dtype: float64

In [15]:
df2 = df.drop(['YearEnd', 'Data_Value_Unit', 'Data_Value_Type', 'Data_Value_Footnote_Symbol'], axis=1)

In [13]:
df.drop_duplicates()

,YearStart,YearEnd,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value_Unit,Data_Value_Type,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,NaN,Value,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,NaN,Value,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88624,2021,2021,ND,North Dakota,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming vegetab...,NaN,Value,...,"(47.47531977900047, -100.11842104899966)",FV,FV1,Q019,VALUE,38,Gender,Male,GEN,MALE
88625,2021,2021,PR,Puerto Rico,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(18.220833, -66.590149)",PA,PA1,Q047,VALUE,72,Income,"$35,000 - $49,999",INC,INC3550
88626,2021,2021,WI,Wisconsin,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,"(44.39319117400049, -89.81637074199966)",PA,PA1,Q047,VALUE,55,Income,"$75,000 or greater",INC,INC75PLUS
88627,2021,2021,UT,Utah,Behavioral Risk Factor Surveillance System,Fruits and Vegetables,Fruits and Vegetables - Behavior,Percent of adults who report consuming fruit l...,NaN,Value,...,"(39.360700171000474, -111.58713063499971)",FV,FV1,Q018,VALUE,49,Income,"$50,000 - $74,999",INC,INC5075
88628,2021,2021,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,NaN,Value,...,NaN,PA,PA1,Q047,VALUE,59,Income,Data not reported,INC,INCNR

In [14]:
df.droplevel

<bound method NDFrame.droplevel of        YearStart  YearEnd LocationAbbr  LocationDesc  \
0           2020     2020           US      National
1           2014     2014           GU          Guam
2           2013     2013           US      National
3           2013     2013           US      National
4           2015     2015           US      National
...          ...      ...          ...           ...
88624       2021     2021           ND  North Dakota
88625       2021     2021           PR   Puerto Rico
88626       2021     2021           WI     Wisconsin
88627       2021     2021           UT          Utah
88628       2021     2021           US      National

                                       Datasource                    Class  \
0      Behavioral Risk Factor Surveillance System        Physical Activity
1      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
2      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
3      Behavioral Risk Factor Surveillance System  Obesity / Weight Status
4      Behavioral Risk Factor Surveillance System        Physical Activity
...                                           ...                      ...
88624  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88625  Behavioral Risk Factor Surveillance System        Physical Activity
88626  Behavioral Risk Factor Surveillance System        Physical Activity
88627  Behavioral Risk Factor Surveillance System    Fruits and Vegetables
88628  Behavioral Risk Factor Surveillance System        Physical Activity

                                  Topic  \
0          Physical Activity - Behavior
1               Obesity / Weight Status
2               Obesity / Weight Status
3               Obesity / Weight Status
4          Physical Activity - Behavior
...                                 ...
88624  Fruits and Vegetables - Behavior
88625      Physical Activity - Behavior
88626      Physical Activity - Behavior
88627  Fruits and Vegetables - Behavior
88628      Physical Activity - Behavior

                                                Question  Data_Value_Unit  \
0      Percent of adults who engage in no leisure-tim...              NaN
1      Percent of adults aged 18 years and older who ...              NaN
2      Percent of adults aged 18 years and older who ...              NaN
3      Percent of adults aged 18 years and older who ...              NaN
4      Percent of adults who achieve at least 300 min...              NaN
...                                                  ...              ...
88624  Percent of adults who report consuming vegetab...              NaN
88625  Percent of adults who engage in no leisure-tim...              NaN
88626  Percent of adults who engage in no leisure-tim...              NaN
88627  Percent of adults who report consuming fruit l...              NaN
88628  Percent of adults who engage in no leisure-tim...              NaN

      Data_Value_Type  ...                                GeoLocation  \
0               Value  ...                                        NaN
1               Value  ...                    (13.444304, 144.793731)
2               Value  ...                                        NaN
3               Value  ...                                        NaN
4               Value  ...                                        NaN
...               ...  ...                                        ...
88624           Value  ...   (47.47531977900047, -100.11842104899966)
88625           Value  ...                    (18.220833, -66.590149)
88626           Value  ...    (44.39319117400049, -89.81637074199966)
88627           Value  ...  (39.360700171000474, -111.58713063499971)
88628           Value  ...                                        NaN

       ClassID TopicID QuestionID  DataValueTypeID  LocationID  \
0           PA     PA1       Q047            VALUE          59
1          OWS    OWS1       Q036            VALUE          66
2          OWS    OWS1       Q036            VALUE          59
3          OWS    OWS1       Q037            VALUE          59
4           PA     PA1       Q045            VALUE          59
...        ...     ...        ...              ...         ...
88624       FV     FV1       Q019            VALUE          38
88625       PA     PA1       Q047            VALUE          72
88626       PA     PA1       Q047            VALUE          55
88627       FV     FV1       Q018            VALUE          49
88628       PA     PA1       Q047            VALUE          59

       StratificationCategory1       Stratification1  \
0               Race/Ethnicity              Hispanic
1                    Education  High school graduate
2                       Income     $50,000 - $74,999
3                       Income     Data not reported
4                       Income     Less than $15,000
...                        ...                   ...
88624                   Gender                  Male
88625                   Income     $35,000 - $49,999
88626                   Income    $75,000 or greater
88627                   Income     $50,000 - $74,999
88628                   Income     Data not reported

      StratificationCategoryId1 StratificationID1
0                          RACE           RACEHIS
1                           EDU         EDUHSGRAD
2                           INC           INC5075
3                           INC             INCNR
4                           INC         INCLESS15
...                         ...               ...
88624                       GEN              MALE
88625                       INC           INC3550
88626                       INC         INC75PLUS
88627                       INC           INC5075
88628                       INC             INCNR

[88629 rows x 33 columns]>

In [21]:
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from numpy import random
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import f_regression
from sklearn.model_selection import train_test_split
from statsmodels.stats.outliers_influence import variance_inflation_factor

sns.set()

In [22]:
df2.reset_index(drop=True, inplace=True)
df2.head()

,YearStart,LocationAbbr,LocationDesc,Datasource,Class,Topic,Question,Data_Value,Data_Value_Alt,Data_Value_Footnote,...,GeoLocation,ClassID,TopicID,QuestionID,DataValueTypeID,LocationID,StratificationCategory1,Stratification1,StratificationCategoryId1,StratificationID1
0,2020,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who engage in no leisure-tim...,30.6,30.6,NaN,...,NaN,PA,PA1,Q047,VALUE,59,Race/Ethnicity,Hispanic,RACE,RACEHIS
1,2014,GU,Guam,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,29.3,29.3,NaN,...,"(13.444304, 144.793731)",OWS,OWS1,Q036,VALUE,66,Education,High school graduate,EDU,EDUHSGRAD
2,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,28.8,28.8,NaN,...,NaN,OWS,OWS1,Q036,VALUE,59,Income,"$50,000 - $74,999",INC,INC5075
3,2013,US,National,Behavioral Risk Factor Surveillance System,Obesity / Weight Status,Obesity / Weight Status,Percent of adults aged 18 years and older who ...,32.7,32.7,NaN,...,NaN,OWS,OWS1,Q037,VALUE,59,Income,Data not reported,INC,INCNR
4,2015,US,National,Behavioral Risk Factor Surveillance System,Physical Activity,Physical Activity - Behavior,Percent of adults who achieve at least 300 min...,26.6,26.6,NaN,...,NaN,PA,PA1,Q045,VALUE,59,Income,"Less than $15,000",INC,INCLESS15

In [24]:
sns.displot(df2['YearStart'])
sns.displot(df2['Low_Confidence_Limit'])
sns.displot(df2['Data_Value'])